
body{
    background-color: #000000;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header img{
    width: 120px;
    height: 120px;
    position: fixed;
    left:5px;
    top:5px;
}
.header i{
    float: inline-end;
    position: fixed;
    right:30px;
    top:40px;
    color:#fff;
    cursor: pointer;
}
.menu{
    z-index:1000;
    position: fixed;
    left:0;
    top:0;
    color:#fff;
    background-color:#000;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    /* text-align: center; */
    visibility: hidden;
    transition: 2ms ease;
}
.menu.active{
    visibility: visible;
}
.menu li{
    list-style-type: none;
    overflow-x: hidden;
    padding:20px;
    font-weight: bolder;
    color:#c2c2c2;
    transition: 2ms ease-in-out
}
.menu li:hover{
    color: #fff;
}
.menu a{
    text-decoration: none;
    color: inherit;
    position: relative;
}
.menu a::before{
    content:'';
    position:absolute;
    background-image:linear-gradient(red,orange);
    height:15px;
    width:5px;
    margin-top:-5px;
    transition:0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    z-index:-100;
    left:-15px;
    top:10px;
    border-radius:5px;
}
.menu a:hover::before{
    left:0;
    top: 0;
    width:100%;
    height:20%;
    border-radius:5px;
}

#close{
    position: fixed;
    top:50px;
    right:30px;
    font-size:30px;
}
.main{
    margin-top:120px;
}
.main h1{
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main h1 span:nth-child(1){
    font-size:100px;
    color:#fff;

}
.main h1 span:nth-child(4){
    font-size:30px;
    float:right;
    font-style: italic;
}
.pillar{
    margin:100px auto;
}
.pillars{
    margin:50px auto;
}
.pillars h1{
    color: #fff;
}
.content h2{
    margin-top:30px;
    color:#fff;
}
.content p{
    padding-bottom:20px;
}
.content a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
    padding: 10px;
    margin-top:30px;
    margin-bottom:30px;
    background-color:#B8DFF0;
    border-radius:20px;;
    text-align: center;
}
#button_2{
    background-color: #FAB95B;
}
#button_3{
    background-color:#F5564E;
}
#button_4{
    background-color:#FAB95B;
}